@use 'Utilities/colors';
@use 'Utilities/mixins';

.radio {
  padding-top: 0.44px;
  padding-bottom: 3.56px;

  &__wrapper {
    @include mixins.body;
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__box {
    content: '';
    flex: 0 0 auto;
    align-self: baseline;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid colors.$dark-shade25;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
  }

  &__label {
    color: colors.$dark-shade50;
  }

  &__input:checked + &__box {
    border: 1px solid colors.$purple;
  }

  &__input:checked + &__box::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &__input:hover + &__box {
    border: 1px solid colors.$purple;
  }

  &__input:checked ~ &__label {
    color: colors.$dark-shade75;
  }
}
