extends ~Layouts/ui-kit-default.pug
include ~Components/text-field/text-field.pug
include ~Components/checkbox/checkbox.pug

block content
  div(style='position: absolute;left: 141px;top: 140px;')
    +text-field('text-field', 'Text field', 'Email')
  div(style='position: absolute;left: 141px;top: 227px;')
    +text-field-focused('text-field-focused', 'Text field', 'Email', 'This is pretty awesome')

  div(style='position: absolute;left: 141px;top: 395px;')
    +text-field('text-field-masked', 'Masked text field', 'ДД.ММ.ГГГГ')
  div(style='position: absolute;left: 587px;top: 143px;')
    +checkbox-group('Checkbox buttons')
      +checkbox('allowSmoking', 'allowSmoking') Можно курить
      +checkbox('allowPets', 'allowPets', true) Можно с питомцами
      +checkbox('allowGuests', 'allowGuests', true) Можно пригласить гостей (до 10 человек)
    //-   .text-field.text-field_focus
    //-   .dropdown
    //-   .text-field.text-field_masked
    //-   div
    //-     .dropdown.dropdown-date
    //-     .dropdown.dropdown-date
    //-   .dropdown-date-filter
    //-   .text-field.text-field_subscription
    //-   .dropdown
    //-   .dropdown.dropdown_expanded
    //-   .checkbox-list-expandable
    //-   .checkbox-list-expandable_expanded
    //- .middle-col
    //- .right-col
