@use 'Utilities/colors';
@use 'Utilities/mixins';

.checkbox-list-wrapper {
  width: 222px;
}

.checkbox-list-group {
  display: grid;
  gap: 20px;
}

.rich-checkbox-list-wrapper {
  width: 266px;
}

.bullet-list-wrapper {
  width: 292px;
}

.info-card-wrapper {
  &__division:not(:last-child) {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: colors.$dark-shade10;
  }
}

.radio-group {
  &__title {
    @include mixins.h3-text;
    margin-bottom: 16px;
  }

  &__group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}

.toggle-group {
  &__title {
    @include mixins.h3-text;
    margin-bottom: 16px;
  }

  &__group {
    display: grid;
    gap: 14px 10px;
  }
}

.like-button-group {
  &__title {
    @include mixins.h3-text;
    margin-bottom: 16px;
  }

  &__group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
}

.rate-button-group {
  &__title {
    @include mixins.h3-text;
    margin-bottom: 16px;
  }

  &__group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 20px;
  }
}

.button-group {
  &__title {
    @include mixins.h3-text;
    margin-bottom: 16px;
  }

  &__group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 20px;
  }
}

.pagination-group {
  &__title {
    @include mixins.h3-text;
    margin-bottom: 16px;
  }
}

.date-dropdown-group {
  display: grid;
  grid-template-columns: auto auto;
  gap: 21px;
}
