extends ~Layouts/ui-kit-default.pug
include ~Components/text-field/text-field.pug
include ~Components/checkbox-list/checkbox-list.pug

block content
  div(style='position: absolute;left: 141px;top: 140px;')
    -
      const textField = {
        id: 'text-field',
        label: 'Text field',
        placeholder: 'Email'
      }
    +text-field(textField)
  div(style='position: absolute;left: 141px;top: 227px;')
    -
      const textFieldFocused = {
        id: 'text-field-focused',
        label: 'Text field',
        placeholder: 'Email'
      }
    +text-field-focused(textField)
  div(style='position: absolute;left: 141px;top: 395px;')
    -
      const textFieldMasked = {
        id: 'text-field-masked',
        label: 'Masked text field',
        placeholder: 'ДД.ММ.ГГГГ'
      }
    +text-field(textFieldMasked)
  div(style='position: absolute;left: 587px;top: 143px;')
    -
      checkboxList = [
      {
        name: 'allowSmoking',
        label: 'Можно курить',  
        checked: false 
        },
      { 
        name: 'allowPets', 
        label: 'Можно с питомцами', 
        checked: true 
        },
      { 
        name: 'allowGuests', 
        label: 'Можно пригласить гостей (до 10 человек)', 
        checked: true 
        }
      ];
    .checkbox-list-wrapper
      +checkbox-list('Checkbox buttons', checkboxList)
    //- +checkbox-group('Checkbox buttons')
    //-   +checkbox('allowSmoking') Можно курить
    //-   +checkbox('allowPets', true) Можно с питомцами
    //-   +checkbox('allowGuests', true) Можно пригласить гостей (до 10 человек)
    //-   .text-field.text-field_focus
    //-   .dropdown
    //-   .text-field.text-field_masked
    //-   div
    //-     .dropdown.dropdown-date
    //-     .dropdown.dropdown-date
    //-   .dropdown-date-filter
    //-   .text-field.text-field_subscription
    //-   .dropdown
    //-   .dropdown.dropdown_expanded
    //-   .checkbox-list-expandable
    //-   .checkbox-list-expandable_expanded
    //- .middle-col
    //- .right-col
