extends ~Layouts/ui-kit-default.pug

block content
  include ~Components/text-field/text-field.pug

  .form-elements-container
    .left-col
      +text-field('Text field', 'Email')
    //-   .text-field.text-field_focus
    //-   .dropdown
    //-   .text-field.text-field_masked
    //-   div
    //-     .dropdown.dropdown-date
    //-     .dropdown.dropdown-date
    //-   .dropdown-date-filter
    //-   .text-field.text-field_subscription
    //-   .dropdown
    //-   .dropdown.dropdown_expanded
    //-   .checkbox-list-expandable
    //-   .checkbox-list-expandable_expanded
    //- .middle-col
    //- .right-col
