@use 'Utilities/colors';
@use 'Utilities/mixins';

.room-book-form {
  @include mixins.form;

  &__dates {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__guests {
    margin-top: 30px;
  }

  &__submit-button {
    margin-top: 20px;
  }
}
