@use 'Utilities/colors';
@use 'Utilities/mixins';
@use 'Utilities/fonts';

.button {
  position: relative;
  border-radius: 22px;
  padding: 0;
  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  cursor: pointer;

  &__label {
    @include mixins.h3-text;
    $border: 2px;

    position: absolute;
    top: $border;
    right: $border;
    bottom: $border;
    left: $border;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    color: #fff;
  }

  &_border &__label {
    color: colors.$purple;
    background-color: white;
    opacity: unset;
  }

  &_simple {
    width: auto;
    height: auto;
    background: none;
  }

  &_simple &__label {
    position: static;
    color: colors.$purple;
  }

  &_dark &__label {
    color: colors.$dark-shade50;
  }

  &_big {
    width: 320px;
  }

  &_big &__label::after {
    @include fonts.material-icons;
    content: 'arrow_forward';
    position: absolute;
    right: 8px;
  }

  &_disabled {
    $color1: adjust-color(#bc9cff, $alpha: -0.5);
    $color2: adjust-color(#8ba4f9, $alpha: -0.5);

    background: linear-gradient(180deg, $color1 0%, $color2 100%);
  }
}
