mixin like-button(initCount)
  .like-button
    button.like-button__button
      span.like-button__like favorite_border
      span.like-button__like-count= initCount

mixin like-button-active(initCount)
  .like-button.like-button_active
    button.like-button__button
      span.like-button__like favorite
      span.like-button__like-count= initCount
