mixin range-slider
  .range-slider
    .range-slider__header
      .range-slider__title Range slider
      input#amount.range-slider__range(type='text', readonly)
    #slider-range.range-slider__slider 
