@use '~Utilities/colors';
@use '~Utilities/fonts';

@mixin h1-text {
  font-family: fonts.$montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: colors.$dark-shade100;
}

@mixin h2-text {
  font-family: fonts.$montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: colors.$dark-shade100;
}

@mixin h3-text {
  font-family: fonts.$montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: colors.$dark-shade100;
}

@mixin body {
  font-family: fonts.$montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  color: colors.$dark-shade75;
}

@mixin form {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px 30px 30px;
  width: 380px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

@mixin room-type {
  @include h3-text;
  font-size: 12px;
  font-weight: bold;
  color: colors.$purple;
}
