include ~Components/checkbox/checkbox.pug

mixin checkbox-list(title='No title', checkboxList=[])
  fieldset.checkbox-list
    legend.checkbost-list__title= title
    each checkbox in checkboxList
      +checkbox(checkbox)
    else
      p Checkbox list is empty
