include ~Components/checkbox/checkbox.pug

mixin checkbox-list(title='No title', checkboxList=[])
  fieldset.checkbox-list
    legend.checkbox-list__title= title
    .checkbox-list__list
      each checkbox in checkboxList
        +checkbox(checkbox)
      else
        p Checkbox list is empty
