@use 'Utilities/colors';
@use 'Utilities/mixins';

.sign-up-form {
  @include mixins.form;

  &__title {
    @include mixins.h1-text;
    line-height: 29.26px;
  }

  &__username {
    margin-top: 20px;
    display: grid;
    gap: 10px;
  }

  &__gender-radio-group {
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 20px;
  }

  &__born-date {
    margin-top: 19.56px;
  }

  &__sign-up-info {
    display: grid;
    gap: 10px;
    margin-top: 20px;
  }

  &__mailing {
    margin-top: 10px;
  }

  &__submit-button {
    margin-top: 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: black;
  }
}
