@use 'Utilities/colors';
@use 'Utilities/mixins';

.checkbox {
  &__wrapper {
    @include mixins.body;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    line-height: 20px;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__box {
    content: '';
    flex: 0 0 auto;
    align-self: baseline;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid colors.$dark-shade25;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center 40%;
  }

  &__input:checked + &__box {
    border: 1px solid colors.$purple;
    background-image: url('checkbox-flag.svg');
  }

  &__input:hover + &__box {
    border: 1px solid colors.$purple;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: colors.$dark-shade50;
    &_bold {
      color: colors.$dark-shade75;
      font-weight: bold;
    }
  }

  &__decription {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
    color: colors.$dark-shade50;
  }
}
