@use 'Utilities/colors';

.checkbox-group {
  // margin-bottom: 17px;
}

.checkbox {
  &__label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
      content: '';
      flex: 0 0 auto;
      display: inline-block;
      margin-right: 10px;
      border: 1px solid colors.$dark-shade25;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center 40%;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__input:checked + &__label::before {
    border: 1px solid colors.$purple;
    background-image: url('checkbox-flag.svg');
  }

  &__input:hover + &__label::before {
    border: 1px solid colors.$purple;
  }
}
