mixin checkbox(checkbox={})
  .checkbox
    label.checkbox__label
      input.checkbox__input(
        type='checkbox',
        name=checkbox.name,
        checked=checkbox.checked
      )
      span.checkbox__box
      span= checkbox.label
