extends ~Layouts/ui-kit-default.pug
include ~Components/color-square/color-square.pug

block content
  .colors-type-container
    .color-table
      +color-square('dark-shade100')
      .color-table__color-description
        .color-table__color-name Dark Shade 100%
        .color-table__color-hex-code #1F2041
      +color-square('dark-shade75')
      .color-table__color-description
        .color-table__color-name Dark Shade 75%
        .color-table__color-hex-code #1F2041
      +color-square('dark-shade50') 
      .color-table__color-description
        .color-table__color-name Dark Shade 50%
        .color-table__color-hex-code #1F2041
      +color-square('dark-shade25') 
      .color-table__color-description
        .color-table__color-name Dark Shade 25%
        .color-table__color-hex-code #1F2041
      +color-square('dark-shade5') 
      .color-table__color-description
        .color-table__color-name Dark Shade 5%
        .color-table__color-hex-code #1F2041
      +color-square('purple')
      .color-table__color-description
        .color-table__color-name Purple
        .color-table__color-hex-code #BC9CFF
      +color-square('green')
      .color-table__color-description
        .color-table__color-name Green
        .color-table__color-hex-code #6FCF97
    .style-table
      .style-table__h1-tag-name H1
      .style-table__h1-tag-example This one is the sub-section or widget title
      .style-table__h2-tag-name H2
      .style-table__h2-tag-example Next one is the item title inside widgets
      .style-table__h3-tag-name H3
      .style-table__h3-tag-example This is a label or CTA text
      .style-table__body-tag-name Body
      .style-table__body-tag-example 
        | This is the body text which is used for most
        br
        | of the design, like paragraphs, lists, etc.
