@use '~Utilities/colors';
@use '~Utilities/fonts';
@use '~Utilities/mixins';

.colors-type-container {
  display: flex;
  margin-top: 67px;
  margin-left: 150px;
}

.color-table {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px 40px;
  align-items: center;

  &__color-name {
    @include mixins.h2-text;
    line-height: 1.5em;
  }

  &__color-hex-code {
    @include mixins.h2-text;
    font-weight: normal;
    line-height: 1.5em;
    display: flex;
    align-items: center;
  }
}

.style-table {
  display: grid;
  grid-template-columns: 37px 1fr;
  gap: 50px 30px;
  align-content: flex-start;
  margin-left: 415px;
  width: 415px;

  @mixin tag-name {
    text-align: right;
    font-family: fonts.$montserrat;
    font-weight: normal;
    color: colors.$dark-shade25;
  }

  .style-table__h1-tag-name {
    @include mixins.h1-text;
    @include tag-name;
  }
  .style-table__h1-tag-example {
    @include mixins.h1-text;
  }

  .style-table__h2-tag-name {
    @include mixins.h2-text;
    @include tag-name;
  }
  .style-table__h2-tag-example {
    @include mixins.h2-text;
  }

  .style-table__h3-tag-name {
    @include mixins.h3-text;
    @include tag-name;
  }
  .style-table__h3-tag-example {
    @include mixins.h3-text;
  }

  .style-table__body-tag-name {
    @include tag-name;
  }
  .style-table__body-tag-example {
    // Inherited from html
  }
}
