@use '~Utilities/colors';
@use '~Utilities/fonts';
@import 'normalize.css';

html {
  font-family: fonts.$montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: colors.$dark-shade75;
}

input:focus {
  outline: none;
}
