@use '~Utilities/colors';
@use '~Utilities/fonts';
@import 'normalize.css';

html {
  font-family: fonts.$montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* Dark 75% */
  color: colors.$dark-shade75;
}

.h1-text {
  font-family: fonts.$open-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  /* Dark 100% */
  color: colors.$dark-shade100;
}

.h2-text {
  font-family: fonts.$open-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  /* Dark 100% */
  color: #1f2041;
}

.h3-text {
  font-family: fonts.$montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: colors.$dark-shade100;
}

.colors-type-container {
  display: flex;
  margin-top: 67px;
  margin-left: 150px;
}

.form-elements-container {
  display: flex;
  margin-top: 62px;
  margin-left: 140px;
}

.color-table {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px 40px;
  align-items: center;

  &__color-name {
    line-height: 1.5em;
  }

  &__color-hex-code {
    font-family: fonts.$open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    /* Dark 100% */
    color: colors.$dark-shade100;
  }
}

.style-table {
  display: grid;
  grid-template-columns: 37px 1fr;
  grid-gap: 50px 30px;
  align-content: flex-start;
  margin-left: 422px;
  width: 415px;

  &__tag-name {
    text-align: right;
    font-family: fonts.$montserrat;
    font-weight: normal;
    color: colors.$dark-shade25;
  }
}
