@use 'Utilities/colors';
@use 'Utilities/mixins';

.text-field {
  display: flex;
  flex-direction: column;

  &__label {
    @include mixins.h3-text;
  }

  &__input {
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid colors.$dark-shade25;
    border-radius: 4px;
    padding: 13px 14px 13px;
    width: 320px;
    font-size: 1rem;
    color: colors.$dark-shade75;

    &:focus,
    &:hover,
    &_focused {
      border: 1px solid colors.$dark-shade50;
    }

    &::placeholder {
      color: colors.$dark-shade25;
    }
  }
}
